body {
    min-height: 100vh;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    background-color: rgb(255, 81, 0);
    color: white;
    padding: 8px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-logo {
    font-size: 48px;
    font-weight: 900;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* footer */

.footer {
    background-color: rgb(0, 0, 0);
    margin-top: 48px;
    padding: 32px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Content 1 */

.main-c1-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: px;
}

.mc1-button button {
    padding: 16px 180px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(255, 81, 0);
    color: white;
    font-size: large;
    font-weight: bold;
}

.mc1-text text {
    font-size: 128px;
    font-weight: bolder;
    text-align: center;

} 

/* Main Content 2 */

.main-content-2 {
    height: 60vh;
    background-color: rgb(255, 81, 0);
    padding: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mc2-child {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    margin-left: 48px;
}


.mc2-child text {
    color: white;
    font-size: 64px;
    font-weight: bolder;
    text-align: center;
}

.mc2-child button {
    padding: 16px 48px;
    margin-top: 16px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: medium;
    font-weight: bold;
    flex-grow: 0;
}